@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto+Condensed:wght@700&display=swap');
.atitle{
    color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    margin: 0em .5em 0em 0em
}
.atitle:hover{
    color:rgb(29, 29, 29)
}
.title{
    font-weight: 900;
    font-size: 1.2em; 
}
.Sing{
    margin: 0em .5em;
    padding:.5em 1.5em;
    border-radius: .5em;
    font-weight: 600;
    cursor: pointer;
}
.Sing:hover{
    color: #000000;
    background: rgb(172, 172, 172);
}
.Sing:nth-child(2){
    background: linear-gradient(86deg, rgba(255,175,0,1) 0%, rgba(230,134,0,1) 41%, rgba(230,134,0,1) 64%, rgba(223,116,0,1) 100%);
    color: #000000
}
.Sing:nth-child(2):hover{
    background: linear-gradient(86deg, rgb(170, 98, 15) 0%, rgb(170, 98, 15) 41%, rgb(170, 98, 15) 64%, rgb(170, 98, 15) 100%);
}
.Navbar{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.item{
    padding: 1em;
    color: rgb(175, 175, 175);
    cursor: pointer;
    font-weight: 500;
}
.item:hover{
    color: rgb(14, 14, 14);
}
.Sings{
    position: absolute;
    right: 1em;
    top:20%
}
.imagem{
    width: 55px;
}
.information{
    height: 2em;
    background: rgb(255,175,0);
    background: linear-gradient(86deg, rgba(255,175,0,1) 0%, rgba(230,134,0,1) 41%, rgba(230,134,0,1) 64%, rgba(223,116,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
}
.information i{
    transform: translateY(-3px);
}
.information a{
    color: #000000;
    font-weight: 700;
}
.information a:hover{
    color: #000000;
}
.Header{
    padding: 0em 5em;
}
.Main{
    padding: 5em 5em;
}
.PopModalBottom{
    text-align: center;
    position: fixed;
    bottom: 0em;
    font-weight: 900;
    width: 100%;
    height: 2em;
    background-color: #ffffff;
}
.MainSection{
    
    width: 50%;
}
.MainSection h1{
    font-size: 3.2em;
    font-weight: 900;
    
font-family: 'Roboto Condensed', sans-serif;

}
.PopModalBottomCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}